{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Test Attempts</title>
    <link rel="stylesheet" href="/static/css/attempts.css">
</head>

<body>

<div class="container">

    <h1>Test Attempts</h1>
    <h2>{{test.name}}</h2>
    <h2>{{test.date}}</h2>
    <table class="attempt-table">

        <thead>
            <tr>
                <th>Attempt ID</th>
                <th>User</th>
                <th>Score</th>
                <th>Date</th>
                <th>Analysis</th>
            </tr>
        </thead>

        <tbody>

        {% for attempt in attempts %}
        <tr>

            <td>{{ attempt.id }}</td>
            <td>{{ attempt.user.username }}</td>
            <td>{{ attempt.score }}</td>
            <td>{{ attempt.started }}</td>

            <td>
                <a class="btn" href="/testanalysis/{{ attempt.id }}/">
                    View Analysis
                </a>
            </td>

        </tr>
        {% empty %}

        <tr>
            <td colspan="5">No attempts found.</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html>